################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
*.ide
*.suo
*.dll
*.exe
*.pdb
/AlgoFB/bin/Debug/netcoreapp3.0/AlgoFB.runtimeconfig.json
/AlgoFB/bin/Debug/netcoreapp3.0/AlgoFB.runtimeconfig.dev.json
/AlgoFB/bin/Debug/netcoreapp3.0/AlgoFB.deps.json
/AlgoFB/.vs/AlgoFB/v16/Server/sqlite3/storage.ide-wal
/AlgoFB/.vs/AlgoFB/v16/Server/sqlite3/storage.ide-shm
/AlgoFB/.vs/AlgoFB/DesignTimeBuild/.dtbcache
/AlgoFB/obj/project.assets.json
/AlgoFB/obj/Debug/netcoreapp3.0/AlgoFB.csprojAssemblyReference.cache
/AlgoFB/obj/Debug/netcoreapp3.0/AlgoFB.csproj.FileListAbsolute.txt
/AlgoFB/obj/Debug/netcoreapp3.0/AlgoFB.assets.cache
/AlgoFB/obj/Debug/netcoreapp3.0/AlgoFB.AssemblyInfoInputs.cache
/AlgoFB/obj/AlgoFB.csproj.nuget.g.targets
/AlgoFB/obj/AlgoFB.csproj.nuget.g.props
/AlgoFB/obj/AlgoFB.csproj.nuget.dgspec.json
/AlgoFB/obj/AlgoFB.csproj.nuget.cache
/AlgoFB/.vs/AlgoFB/v16/TestStore/0/testlog.manifest
/AlgoFB/.vs/AlgoFB/v16/TestStore/0/000-0000.testlog
/AlgoFB/.vs/AlgoFB/v15/Server/sqlite3/storage.ide-wal
/AlgoFB/.vs/AlgoFB/v15/Server/sqlite3/storage.ide-shm
/AlgoFB.Test/obj/Debug/netcoreapp3.0
/AlgoFB.Test/bin/Debug/netcoreapp3.0
/AlgoFB.Test/obj
